Repository 7map/7map, pull requests merged in 2021-04, with the labels that each got.

#26 Change vector3f to color
  pom.xml
  src/main/java/App.java
  src/main/java/ui/gfx/Vertex.java
  src/main/java/ui/utils/Color.java
  target/classes/ui/utils/Color.class
  target/dependencies.txt
Labels: enhancement

#30 Refactor rendering classes
  doc/meetings/team-rendering/diagram_rendering.plantuml
  src/main/java/com/sevenmap/App.java
  src/main/java/com/sevenmap/ui/Engine.java
  src/main/java/com/sevenmap/ui/Task.java
  src/main/java/com/sevenmap/ui/Window.java
  src/main/java/com/sevenmap/ui/elements/Camera.java
  src/main/java/com/sevenmap/ui/elements/Item.java
  src/main/java/com/sevenmap/ui/elements/Node.java
  src/main/java/com/sevenmap/ui/elements/RootNode.java
  src/main/java/com/sevenmap/ui/gfx/Renderer.java
  src/main/java/com/sevenmap/ui/math/Vector2f.java
  src/main/java/com/sevenmap/ui/math/Vector3f.java
  src/main/java/com/sevenmap/ui/utils/Color.java
Labels: enhancement, rendering

#31 Improve event handler
  doc/meetings/team-rendering/diagram_rendering.plantuml
  src/main/java/com/sevenmap/App.java
  src/main/java/com/sevenmap/ui/Input.java
  src/main/java/com/sevenmap/ui/TaskMgr.java
  src/main/java/com/sevenmap/ui/Window.java
  src/main/java/com/sevenmap/ui/elements/Node.java
  src/main/java/com/sevenmap/ui/scheduling/Task.java
  src/main/java/com/sevenmap/ui/scheduling/TaskMgr.java
  src/main/java/com/sevenmap/ui/scheduling/events/ButtonEvent.java
  src/main/java/com/sevenmap/ui/scheduling/events/Event.java
  src/main/java/com/sevenmap/ui/scheduling/events/KeyEvent.java
  src/main/java/com/sevenmap/ui/scheduling/events/MoveEvent.java
Labels: rendering

#36 Improve node implementation
  src/main/java/com/sevenmap/App.java
  src/main/java/com/sevenmap/ui/Engine.java
  src/main/java/com/sevenmap/ui/Window.java
  src/main/java/com/sevenmap/ui/elements/Camera.java
  src/main/java/com/sevenmap/ui/elements/Item.java
  src/main/java/com/sevenmap/ui/elements/Node.java
  src/main/java/com/sevenmap/ui/elements/RootNode.java
  src/main/java/com/sevenmap/ui/elements/colliders/Collider.java
  src/main/java/com/sevenmap/ui/gfx/Material.java
  src/main/java/com/sevenmap/ui/gfx/Renderer.java
  src/main/java/com/sevenmap/ui/gfx/Shader.java
  src/main/java/com/sevenmap/ui/scheduling/TaskMgr.java
  src/main/java/com/sevenmap/ui/utils/FileUtils.java
  src/test/java/com/sevenmap/ui/elements/CameraTest.java
Labels: enhancement, rendering
